body {
    font-family: Arial, sans-serif;
    background-color: #dfd2f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    border: solid  #582192;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #582192;
    border-radius: 5px;
}
button {
    background-color: #582192;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    font-size: 15px;
    border: solid 2px #582192;
    color: black;
    transition: all linear 0.1s;
    background-color: #ffffff;
}
#result {
    margin-top: 20px;
}
#result img {
    max-width: 100%;
    border-radius: 50%;
}
